
button {
  margin-top: 20px;
  padding: 10px;
  width: 100%;
}

  .containerF form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }
  
  .containerF label {
    display: flex;
    cursor: pointer;
    font-weight: 500;
    position: relative;
    overflow: hidden;
    margin-bottom: 0.375em;
  }
  
  .containerF input {
    position: absolute;
    left: -9999px;
  }
  
  .containerF input:checked + label {
    background-color: #A1B5D8;
    color: white;
  }
  
  .containerF input:checked + label:before {
    box-shadow: inset 0 0 0 0.4375em #738290;
  }
  
  .containerF label {
    display: flex;
    align-items: center;
    padding: 0.375em 0.75em 0.375em 0.375em;
    border-radius: 99em;
    transition: 0.25s ease;
    color: black;
  }
  
  .containerF label:hover {
    background-color: #d6dde5;
  }
  
  .containerF label:before {
    display: flex;
    flex-shrink: 0;
    content: "";
    background-color: #fff;
    width: 1.5em;
    height: 1.5em;
    border-radius: 50%;
    margin-right: 0.375em;
    transition: 0.25s ease;
    box-shadow: inset 0 0 0 0.125em #1e336d;
  }

  .containerI {
    position : relative;
    top: 50%;
    left : 50%;
    transform :
    translate(-50%,-50%); 
  }
  .containerI select {
    /* Reset Select */
    appearance: none;
    outline: 10px red;
    border: 0;
    box-shadow: none;
    /* Personalize */
    flex: 1;
    padding: 0 1em;
    color: black;
    background-color: #A1B5D8;
    background-image: none;
    cursor: pointer;
  }
  /* Remove IE arrow */
  select::-ms-expand {
    display: none;
  }
  /* Custom Select wrapper */
  .select {
    position: relative;
    display: flex;
    width: 100%;
    height: 3em;
    border-radius: 30px;
    overflow: hidden;
  }
  /* Arrow */
  .select::after {
    content: '\25BC';
    position: absolute;
    top: 0;
    right: 0;
    padding: 1em;
    background-color: #A1B5D8;
    transition: .25s all ease;
    pointer-events: none;
  }
  /* Transition */
  .select:hover::after {
    color: #c2d8b9;
  }
  input[type=text] {
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    border: none;
    outline: none;
    border-bottom: 0.2em solid #A1B5D8;
    background: rgba(63, 71, 85, 0.2);
    border-radius: 0.2em 0.2em 0 0;
    padding: 0.4em;
    color: rgb(59, 59, 59);
    width: 100%;
  }
  input[type=email] {
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    border: none;
    outline: none;
    border-bottom: 0.2em solid #A1B5D8;
    background: rgba(63, 71, 85, 0.2);
    border-radius: 0.2em 0.2em 0 0;
    padding: 0.4em;
    color: rgb(59, 59, 59);
    width: 100%;
  }
  input[type=tel] {
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    border: none;
    outline: none;
    border-bottom: 0.2em solid #A1B5D8;
    background: rgba(63, 71, 85, 0.2);
    border-radius: 0.2em 0.2em 0 0;
    padding: 0.4em;
    color: rgb(59, 59, 59);
    width: 100%;
  }
  textarea {
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    border: none;
    outline: none;
    border-bottom: 0.2em solid #A1B5D8;
    background: rgba(63, 71, 85, 0.2);
    border-radius: 0.2em 0.2em 0 0;
    padding: 0.4em;
    color: rgb(59, 59, 59);
    width: 100%;
  }
  
  input[type=checkbox] {
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    background-color: #fff;
    margin: 0;
    font: inherit;
    color: currentColor;
    width: 1.15em;
    height: 1.15em;
    border: 0.15em solid #A1B5D8;
    border-radius: 0.15em;
    transform: translateY(-0.075em);
    display: grid;
    place-content: center;
  }
  input[type=checkbox]::before {
    content: "";
    width: 0.65em;
    height: 0.65em;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em #A1B5D8;
    background-color: CanvasText;
    -webkit-clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
            clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
    transform-origin: left top;
  }
  input[type=checkbox]:checked::before {
    transform: scale(1);
  }
  
  div.radio {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0.2em;
    margin-left: -2em;
  }
  
  input[type=radio] {
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    background-color: #fff;
    margin: 0;
    font: inherit;
    color: rgb(59, 59, 59);;
    width: 1.15em;
    height: 1.15em;
    border: 0.15em solid currentColor;
    border-radius: 50%;
    display: grid;
    place-content: center;
  }
  input[type=radio]::before {
    content: "";
    width: 0.65em;
    height: 0.65em;
    border-radius: 50%;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em #A1B5D8;
    background-color: CanvasText;
    transform-origin: top bottom;
  }
  input[type=radio]:checked::before {
    transform: scale(1);
  }
  
  input[type=color] {
    padding: 0;
    border: none;
    width: 2em;
    height: 2em;
    border-radius: 50%;
  }
  input[type=color]::-webkit-color-swatch {
    border: none;
    border-radius: 50%;
  }
  input[type=color]::-webkit-color-swatch-wrapper {
    padding: 0;
  }
  
  input[type=range] {
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    background: transparent;
    width: 100%;
  }
  input[type=range]::-webkit-slider-thumb {
    margin-top: -8px;
    -webkit-appearance: none;
            appearance: none;
    width: 1.5em;
    height: 1.5em;
    border-radius: 50%;
    background: transparent;
    border: 0.2em solid #A1B5D8;
  }
  input[type=range]::-moz-range-thumb {
    -moz-appearance: none;
         appearance: none;
    width: 1.5em;
    height: 1.5em;
    border-radius: 50%;
    background: transparent;
    border: 0.2em solid #A1B5D8;
  }
  input[type=range]::-ms-thumb {
    appearance: none;
    width: 1.5em;
    height: 1.5em;
    border-radius: 50%;
    background: transparent;
    border: 0.2em solid #A1B5D8;
  }
  input[type=range]::-webkit-slider-runnable-track {
    background: #A1B5D8;
    width: 100%;
    border-radius: 1vmin;
    height: 0.5em;
  }
  input[type=range]::-moz-range-track {
    background: #A1B5D8;
    width: 100%;
    border-radius: 1vmin;
    height: 0.5em;
  }
  input[type=range]::-ms-track {
    background: #A1B5D8;
    width: 100%;
    border-radius: 1vmin;
    height: 0.5em;
  }
  
  input[type=button] {
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    border: 0.2em solid #A1B5D8;
    background: rgba(0, 0, 0, 0);
    padding: 0.85em 1.5em;
    color: #A1B5D8;
    border-radius: 2em;
    transition: 1s;
  }
  input[type=submit]:hover, input[type=button]:focus, input[type=button]:active {
    background: #A1B5D8;
    color: #fff;
  }
  input[type=submit] {
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    border: 0.2em solid #A1B5D8;
    background: rgba(0, 0, 0, 0);
    padding: 0.85em 1.5em;
    color: rgb(59, 59, 59);
    border-radius: 2em;
    transition: 1s;
  }
  input[type=button]:hover, input[type=button]:focus, input[type=button]:active {
    background: #738290;
    color: #fff;
  }
  
  input[type=file] {
    display: none;
  }
  
  label[for=file] {
    display: grid;
    grid-auto-flow: column;
    grid-gap: 0.5em;
    justify-items: center;
    align-content: center;
    color: #A1B5D8;
    border: 0.2em solid #A1B5D8;
    background: rgba(0, 0, 0, 0);
    padding: 0.85em 1.5em;
    color: #A1B5D8;
    border-radius: 2em;
    transition: 1s;
  }
  label[for=file]:hover, label[for=file]:focus, label[for=file]:active {
    background: #A1B5D8;
    color: #fff;
  }
  
  input[type=date] {
    border: 0.2em solid #A1B5D8;
    padding: 0.8em 0.9em;
    border-radius: 2em;
    color: #A1B5D8;
  }
  input[type=date]::-webkit-datetime-edit-text {
    color: red;
    padding: 0 0.3em;
  }
  input[type=date]::-webkit-inner-spin-button {
    display: none;
  }
  input[type=date]::-webkit-calendar-picker-indicator {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='%23E91E63' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Crect x='3' y='4' width='18' height='18' rx='2' ry='2'/%3E%3Cline x1='16' y1='2' x2='16' y2='6'/%3E%3Cline x1='8' y1='2' x2='8' y2='6'/%3E%3Cline x1='3' y1='10' x2='21' y2='10'/%3E%3C/svg%3E");
  }
  
  input[type=number] {
    width: 100%;
    padding: 0.5em;
    border: 0.2em solid #A1B5D8;
    border-radius: 1em;
    text-align: center;
    color: rgb(59, 59, 59);
    -webkit-appearance: none;
       -moz-appearance: textfield;
            appearance: none;
    margin: 0;
  }
  input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.wonted select {
    width: 100%;
}